<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192323950143-nvhhid50utkeav5c3hq1cjoik717h4ug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192323950143-nvhhid50utkeav5c3hq1cjoik717h4ug</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>192323950143-0j9ilfj36mlh3abik82s27r28j3ai9up.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_m2fEyCF1VY8BUGwFzL3O7JZMtWLEnpM</string>
	<key>GCM_SENDER_ID</key>
	<string>192323950143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.idragonpro.andmagnus</string>
	<key>PROJECT_ID</key>
	<string>idragonpro-248ed</string>
	<key>STORAGE_BUCKET</key>
	<string>idragonpro-248ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192323950143:ios:55332dc71f2a3b711c4a8a</string>
	<key>DATABASE_URL</key>
	<string>https://idragonpro-248ed.firebaseio.com</string>
</dict>
</plist>